<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS}:%L [%thread] %-5level %logger{36} -
                %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="com.sam" level="debug" additivity="false">
        <appender-ref ref="Console"/>
    </logger>

    <!--<logger name="org.n3r.eql" level="DEBUG" additivity="false">-->
        <!--<appender-ref ref="Console"/>-->
    <!--</logger>-->

    <logger name="com.alibaba" level="INFO" additivity="false">
        <appender-ref ref="Console"/>
    </logger>

    <root name="org.thymeleaf" level="info" additivity="false">
        <appender-ref ref="Console"/>
    </root>

    <root level="info">
        <appender-ref ref="Console"/>
    </root>

</configuration>

