<html>
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <!--<script type="text/javascript" data-th-src="@{/resources/js/jquery-1.11.1.min.js}"></script>-->
    <link rel="stylesheet" type="text/css" data-th-href="@{/resources/css/sam.css}"/>
</head>
<body>
<form method="post" action="/hello/login">
    <div>
        <span>姓名</span><input type="text" name="username" style="width: 100px;height: 20px"/>
    </div>
    <div>
        <span>密码</span><input type="text" name="password" style="width: 100px;height: 20px"/>
    </div>

    <div id="login" style="width: 200px;height: 100px;line-height: 100px;text-align: center;background-color: grey">登陆
    </div>
</form>
</body>
</html>