<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>my first html</title>
    <script type="text/javascript" data-th-src="${e.res('/common/js/lib/jquery-1.11.1.min.js')}"></script>
    <script type="text/javascript" data-th-src="${e.res('/common/js/lib/underscore-min.js')}"></script>
    <script type="text/javascript" data-th-src="${e.res('/common/js/lib/backbone-min.js')}"></script>
    <script type="text/javascript" data-th-src="${e.res('/common/js/init.js')}"></script>
    <script type="text/javascript" data-th-src="${e.res('/common/js/models.js')}"></script>
    <script type="text/javascript" data-th-src="${e.res('/common/js/collections.js')}"></script>
    <script type="text/javascript" data-th-src="${e.res('/common/js/views.js')}"></script>
    <script type="text/javascript" data-th-src="${e.res('/common/js/routers.js')}"></script>
    <script type="text/javascript" data-th-src="${e.res('/common/js/application.js')}"></script>
    <script type="text/javascript" data-th-src="${e.res('/common/js/test-backbone.js')}"></script>
    <link rel="stylesheet" type="text/css" data-th-href="${e.res('/common/css/test-backbone.css')}"/>
</head>
<body>
<h1 data-th-text="${hello}"></h1>
<h1 data-th-text="${world}"></h1>
<div id="side">玩家很开奖号分开交水</div>
</body>
</html>